.button {
  background-color: #68b738;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  font-size: 14px;
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 1.29;

  @media (min-width: @tablet-size) {
    font-size: 20px;
    line-height: 1;
    padding-bottom: 15px;
    padding-top: 17px;
  }
}
