.catalog-card {
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid 1px #ededed;
}

.catalog-card__image {
  width: 140px;
  height: 144px;
}

.catalog-card__description {
  width: 140px;
}

.catalog-card__button {
  width: 100%;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.25;
}
