.contacts {
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 57px;
    height: 54px;
    background-image: url("../../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    position: absolute;
    bottom: 172px;
    left: 130px;

    @media (min-width: @tablet-size) {
      width: 113px;
      height: 106px;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 150px;
    }
  }
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding-top: 27px;
  background-color: #ffffff;

  @media (min-width: @tablet-size) {
    justify-content: space-between;
    padding-left: 71px;
    padding-right: 71px;
  }
}

.contacts__title {
  font-size: 16px;
  line-height: 1.25;
  color: #111111;
  font-weight: normal;
  text-transform: uppercase;
  max-width: 50%;
  margin: 0;
  z-index: 5;
  padding-bottom: 25px;
  padding-left: 19px;
  background-color: inherit;

  @media (min-width: @tablet-size) {
    font-size: 20px;
    line-height: 1.25;
    max-width: 156px;
    padding-left: 0;
    padding-bottom: 58px;
  }
}

.contacts__address {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.43;
  font-style: normal;
  max-width: 50%;
  z-index: 5;
  padding-bottom: 25px;
  padding-right: 19px;
  background-color: inherit;

  @media (min-width: @tablet-size) {
    font-size: 16px;
    line-height: 1.25;
    padding-right: 0;
    text-align: right;
    max-width: 156px;
  }
}

.contacts__map {
  margin-top: -40px;
  width: 320px;

  @media (min-width: @tablet-size) {
    width: 767px;
    margin-top: 0;
  }
}
