.experience {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 15px;
  background-color: #f2f2f2;
  padding-bottom: 38px;
}

.experience__title {
  color: #111111;
  font-size: 36px;
  line-height: 1.67;
  font-weight: normal;
  margin: 0;
  margin-bottom: 24px;
}

.experience__text {
  .simple-text();
  padding-right: 14px;
  margin-bottom: 25px;
}

.experience__numbers-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-between;
  margin-bottom: 35px;
}

.experience__numbers-item {
  width: 124px;
  border: 1px solid #cdcdcd;
  position: relative;
  font-size: 24px;
  line-height: 1;
  color: #111111;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.experience__numbers-item span {
  position: absolute;
  // bottom: -17px;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  line-height: 1;
  width: 87px;
  display: block;
  background-color: #f2f2f2;
  padding-right: 16px;
  padding-left: 16px;
  text-transform: none;
  left: 0;
  right: 0;
  bottom: -18px;
  margin: 0 auto;
}

.experience__expenses {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.43;
  color: #111111;
  text-align: center;
  margin-bottom: 35px;
}

.experience__image {
  width: 320px;
  height: auto;
  margin-left: -20px;
  margin-bottom: 26px;
}

.experience__graphic {
  margin-left: auto;
  margin-right: auto;
}
