.how-it-works {
  .container();
  position: relative;

  @media (min-width: @tablet-size) {
    padding-top: 15px;
  }
}

.how-it-works__title {
  .page-section-title();
  margin: 0;
  margin-bottom: 26px;
}

.how-it-works__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-size) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.how-it-works__item {
  padding-left: 80px;
  margin-bottom: 26px;
  position: relative;

  &::before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-color: #68b738;
    display: block;
    content: "";
    width: 60px;
    height: 60px;
    left: 0;
    top: 0;
    position: absolute;

    @media (min-width: @tablet-size) {
      width: 80px;
      height: 80px;
      top: 47px;
    }
  }

  @media (min-width: @tablet-size) {
    min-width: 324px;
    min-height: 291px;
    padding-top: 158px;
    padding-left: 0;

    &::after {
      display: block;
      font-size: 281px;
      line-height: 1;
      color: #f2f2f2;
      position: absolute;
      top: 5px;
      left: 118px;
      z-index: -1;
    }
  }
}

.how-it-works__item--ingridients {
  &::before {
    background-image: url("../../img/advantage-leaf@1x.png");
  }

  @media (min-width: @tablet-size) {
    &::after {
      content: "1";
    }
  }
}

.how-it-works__item--cooking {
  &::before {
    background-image: url("../../img/advantage-powder@1x.png");
  }

  @media (min-width: @tablet-size) {
    &::after {
      content: "2";
    }
  }
}

.how-it-works__item--usage {
  &::before {
    background-image: url("../../img/advantage-dining@1x.png");
  }

  @media (min-width: @tablet-size) {
    &::after {
      content: "3";
    }
  }
}

.how-it-works__item--deadlines {
  &::before {
    background-image: url("../../img/advantage-clock@1x.png");
  }

  @media (min-width: @tablet-size) {
    &::after {
      content: "4";
    }
  }
}

.how-it-works__text {
  .simple-text();

  @media (min-width: @tablet-size) {
    max-width: 245px;
  }
}
