.intro {
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding-top: 27px;
  .container();
  padding-bottom: 22px;
}

.intro__title {
  margin: 0;
  font-size: 36px;
  line-height: 1;
  font-weight: normal;
  margin-bottom: 25px;
}

.intro__text {
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.intro__image {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 6px;
}

.intro__select-programm-btn {
  width: 100%;
}
