.page-header {
  max-width: @mobile-size;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-header__logo {
  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 75px;
  width: 191px;
  background-image: url(../../img/logo-mobile.svg);
}

.page-header__logo-image {
  width: 191px;
  height: 39px;
}

.page-header__nav {
  width: 100%;
  position: relative;

  @media (min-width: @tablet-size) {

  }
}

@media (min-width: @tablet-size) {
  .page-header {
    max-width: @tablet-size;
    margin: 0 @tablet-side-margin;
    padding: 24px 0 0 0;
    display: flex;
    justify-content: space-between;
  }

  .page-header__logo {
    padding: 0;
    background-image: url('../../img/logo-tablet.svg');
    width: 174px;
    height: 59px;
  }

  .page-header__nav {
    max-width: 530px;
  }
}
