.page-header {
  max-width: @mobile-size;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-header__logo {
  padding-left: 20px;
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 11px;
}

.page-header__nav {
  width: 100%;
  position: relative;
}
