.social-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.social-list__item {
  display: block;

  &--vkontakte {
    background-image: url("../../img/icon-vk.svg");
    width: 22px;
    height: 12px;
  }

  &--instagram {
    background-image: url("../../img/icon-insta.svg");
    width: 17px;
    height: 17px;
  }

  &--facebook {
    background-image: url("../../img/icon-fb.svg");
    width: 10px;
    height: 19px;
  }
}
